<html>

<head>
<meta charset="utf-8" />
<title><%= appName %></title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<script>
    (function() {
        //Auto-insert base href tag base on URL path used to fetch this html.
        //Required by bower components, images, css, scripts that use $location and config for MLRestProvider's prefix
        //Simplifies build as this works for both embedded and war file deployments.
        var path = window.location.pathname;
        var head = document.querySelector('head');
        var baseElement = document.createElement('base');
        head.insertBefore(baseElement, head.firstChild);
        baseElement.setAttribute("href", path.substring(0, path.lastIndexOf('/') + 1));
    }());
</script>
<link rel="shortcut icon" th:href="@{images/favicon.ico}" />
<!-- bower:css -->
<!-- endbower -->
<!-- inject:css -->
<!-- endinject -->
</head>

<body>
  <div class="container">
    <center>
      <h2>Oops! An error has occurred</h2>
      <ul>
        <li>Timestamp: <span th:text="${timestamp}"></span></li>
        <li>Path: <span th:text="${path}"></span></li>
        <li>HTTP Status: <span th:text="${status}"></span></li>
        <li>Error: <span th:text="${error}"></span></li>
        <li>Message: <span th:text="${message}"></span></li>
      </ul>
      <p>
        <a href="_top">Return to the home page</a>
      </p>
    </center>
  </div>
</body>

</html>
