<html>

<head>
	<meta charset="utf-8"/>
	<title><%= appName %></title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width"/>
	<!--/* Hacky meta tag so that the Angular webapp can recognize when the user's session has expired */-->
	<meta name="springBootLoginForm" content=""/>
	<!--/* Refresh to lessen the chance of the Spring Boot CSRF token expiring */-->
	<meta http-equiv="refresh" content="60;"/>
	<script>
        (function() {
            //Auto-insert base href tag base on URL path used to fetch this html.
            //Required by bower components, images, css, scripts that use $location and config for MLRestProvider's prefix
            //Simplifies build as this works for both embedded and war file deployments.
            var path = window.location.pathname;
            var head = document.querySelector('head');
            var baseElement = document.createElement('base');
            head.insertBefore(baseElement, head.firstChild);
            baseElement.setAttribute("href", path.substring(0, path.lastIndexOf('/') + 1));
        }());
	</script>

	<link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
	<!-- bower:css -->
	<!-- endbower -->
	<!-- inject:css -->
	<!-- endinject -->
</head>

<body>
<div class="container">
	<center>
		<form style="max-width: 350px;" th:action="@{/login}" method="post">
			<h2>slush-gen-app-04</h2>
			<div th:if="${param.error}" class="alert alert-error">Invalid username and password.</div>
			<div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>
			<div class="form-group">
				<label for="username" class="sr-only">Username</label>
				<input type="text" name="username" class="form-control" placeholder="Username" required="required"
							 autofocus="autofocus"/>
			</div>
			<div class="form-group">
				<label for="password" class="sr-only">Password</label>
				<input type="password" name="password" class="form-control" placeholder="Password" required="required" autocomplete="off"/>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>
	</center>
</div>
</body>

</html>